/*css file*/

.rounded img {
  height:200px;
  width: 200px;
  border-radius: 100px;
}

header{
  background-image: url("https://static.pexels.com/photos/141827/pexels-photo-141827-large.jpeg");
  color:white;
  text-align:center;
  padding: 10px;
}

nav {
  line-height: 50px;
  background: #cccccc;
  height:600px;
  width:120px;
  float:left;
  padding:5px;
}

  section {
    width:330px;
    float:left;
    padding:15px;
  }
  button {
    height: 30px;
    width: 60px
    border-radius: 10px;
    background: red;
    color: blue;
  }
    
    #button-two{
     height: 40px;
    width: 60px
    border-radius: 10px;
    background: green;
    color: blue;
    }
  
  
  Footer {
    background:blue;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    
    
  }
  
  
a {
  color: green;
  text-decoration: none;
  
}

a:hover{
  color: yellow;
}

img {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

#Blue{
  color:red;
}  
  
}
